.row{
    background-color:  rgb(141, 197, 250);
        padding: 20px;
}
.circulo{
   display: flex;
   flex-direction: column; 
   align-items: center;
}
.titulo{
    font-family: "monserrat";
    font-style: italic;
    font: bolder;
    }