div{
    background-color:  rgb(141, 197, 250);}
 .img-fluid{
    width: 200px;
    height: 300px;
    border-radius: 100%;
    border: 1px solid black;
    position: relative;
    top: -42px;
}
.titulo{
    font-family:Verdana;
    font-weight: bolder;

    
    
    
    }