
    <div  class="row">

        
       
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 "> 
  
    <img src={{persona.img}} class="img-fluid ">
</div>
<div  class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-light titulo ">
   <h1> <p id="nombre">{{ persona.nombre}}  {{persona.apellido}} </p></h1>
   <h2> <p>Full Stack Developer Jr</p></h2> 
   <div *ngIf="!isLogged"> 
    <button  type="button" class="btn btn-dark" routerLink="/editAcercaDe/1" >
     Editar Persona
   </button>
 </div>
</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1 class=" titulo text-danger">Acerca De Mi</h1>
        <p>{{persona.descripcion}}</p>
    </span>
</div>
    </div>
    

